<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Format Comparision</title>
    <link href="{{ url_for('static', filename='bootstrap-4.1.0/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Format Comparison</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Whole Trajectory</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-traWhole" class="form-control" type="number" placeholder="Trajectory ID">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" onclick="showTraWhole()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                        <canvas id="chart-traWhole"></canvas>
                    </div>
            </div>
            <div class="col-4">
                <h4>Time Frame</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-framegroup" class="form-control" type="number" placeholder="Framegroup">
                        <input id="input-granularity" class="form-control" type="number" placeholder="Granularity">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" onclick="showFramegroup()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                        <canvas id="chart-framegroup"></canvas>
                    </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.1.0/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='comparison.js') }}"></script>
  </body>
</html>
