<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Format Comparision</title>
    <link href="{{ url_for('static', filename='bootstrap-4.1.0/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Format Comparison</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Whole Trajectory</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-traWhole" class="form-control" type="number" placeholder="Trajectory ID">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" onclick="showTraWhole()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <canvas id="chart-traWhole"></canvas>
                </div>
            </div>
            <div class="col-4">
                <h4>Time Frame</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-framegroup" class="form-control" type="number" placeholder="Framegroup">
                        <input id="input-granularity" class="form-control" type="number" placeholder="Granularity">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" onclick="showFramegroup()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <canvas id="chart-framegroup"></canvas>
                </div>
            </div>
            <div class="col-4">
                <h4>Changepoints</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-changepoints-framegroup" class="form-control" type="number" placeholder="Framegroup">
                        <input id="input-changepoints-granularity" class="form-control" type="number" placeholder="Granularity">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="radio" class="form-check-input" name="input-changepoints-mode" id="input-changepoints-pickup" value="pickup"
                                    checked>
                                <label class="form-check-label mr-2" for="input-changepoints-pickup">
                                    Pickup
                                </label>
                                <input type="radio" class="form-check-input" name="input-changepoints-mode" id="input-changepoints-dropoff" value="dropoff">
                                <label class="form-check-label" for="input-changepoints-dropoff">
                                    Dropoff
                                </label>
                            </div>
                            <button class="btn btn-secondary" onclick="showChangepoints()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <canvas id="chart-changepoints"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Profit Single</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-profit" class="form-control" type="number" placeholder="Trajectory ID">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" onclick="showProfit()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <canvas id="chart-profit"></canvas>
                </div>
            </div>
            <div class="col-4">
                <h4>Profit All</h4>
                <div class="form-inline">
                    <button class="btn btn-sm btn-secondary" onclick="showProfitAll()">Start</button>
                </div>
                <div class="chart-container">
                    <canvas id="chart-profitAll"></canvas>
                </div>
            </div>
            <div class="col-4">
                <h4>Space and Time Window</h4>
                <div class="form-inline">
                    <div class="input-group input-group-sm mr-1">
                        <input id="input-window-lat-min" class="form-control" type="number" placeholder="Lat Min" value="22.5290012">
                        <input id="input-window-lon-min" class="form-control" type="number" placeholder="Lon Min" value="114.047024">
                        <input id="input-window-lat-max" class="form-control" type="number" placeholder="Lat Max" value="22.548516">
                        <input id="input-window-lon-max" class="form-control" type="number" placeholder="Lon Max" value="114.0570565">
                        <input id="input-window-start" class="form-control" type="number" placeholder="Start Time s" value="3600">
                        <input id="input-window-end" class="form-control" type="number" placeholder="End Time s" value="10800">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" onclick="showWindow()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <canvas id="chart-window"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.1.0/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='comparison.js') }}"></script>
</body>

</html>