<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <link href="{{ url_for('static', filename='bootstrap-4.1.0/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  </head>

  <body>
    <div id="floating-panel">
      <div class="form-inline justify-content-center">
        <button class="btn btn-sm btn-secondary mr-1" id="btn-autoplay" onclick="autoPlay()">▶</button>
        <button class="btn btn-sm btn-secondary mr-1" onclick="toggleHeatmap()">Toggle Heatmap</button>
        <select class="form-control form-control-sm mr-1" id="heatmap-select" onchange="showHeatmap()">
          <option value="none">None</option> 
          <option value="all" selected>All Taxis</option> 
          <option value="pickup">Pickup Points</option>
          <option value="dropoff">Dropoff Points</option>
        </select>
        <div class="btn-group btn-group-sm mr-1">
          <button class="btn btn-secondary" onclick="changeGradient()">Change gradient</button>
          <button class="btn btn-secondary" onclick="changeRadius()">Change radius</button>
          <button class="btn btn-secondary" onclick="changeOpacity()">Change opacity</button>
        </div>
        <div class="input-group input-group-sm mr-1">
          <input class="form-control" id="input-trajectory" type="number" placeholder="Trajectory ID" onkeypress="onInputTrajectoryKeypress(event)">
          <div class="input-group-append">
            <button class="btn btn-secondary" onclick="onDrawRouteClick()">Draw Route</button>
            <button class="btn btn-secondary" onclick="clearPaths()">Remove Route</button>
          </div>
        </div>
      </div>
      <div class="slider-container">
        <div id="time-slider">
          <span class="slider-label">⌚ <span id="time-frame">00:00</span></span>
          <input class="slider" type="range" value="0:00" min="0" max="143" step="1">
        </div>
        <div id="granularity-slider">
          <span class="slider-label">Granularity: 6</span>
          <input class="slider" type="range" value="6" min="0" max="6" step="1">
        </div>
        <span id="loadingTime"></span>
      </div>
    </div>
    <div id="map"></div>

    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.1.0/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
  </body>
</html>
